//landing width
$basic-lp-width: 1100px;

//fonts famliy
$font-n24: "Open Sans";
$font-nn: "Rajdhani";
$font-basic: "Roboto";
$font-secondary: "Dosis";
//font size
$basic-font-size: 16px;

//colors
$color-main: #6a737a; //gray
$color-main-bg: #79848a;

//colors
$color-main-font: #fff;
$color-header-font: #6a737a;

$color-main: #373b46; //gray
$color-price: #ee011f; //red for price

$color-y: #ffbc00;
$color-v: #b62b7e;
$color-g: #52717a;
$color-r: #ff0000;
$color-o: #ee6c50;

//nav colors
$color-1: #577686;
$color-2: #6a737a;
$color-3: #52717a;
$color-4: #75989f;
$color-5: #88988c;
$color-6: $color-1;


